.table-container {
  .table {
    .table-head {
      .head-row {
        .head-cell {
          font-weight: 600;
        }
      }
    }
    .table-body {
      .body-row:hover {
        background-color: #C4DDFF;
        cursor: pointer;
      }
      .body-row.disabled:hover {
        cursor: not-allowed;
      }
      .body-row.disabled {
        filter: blur(3px);
      }
      .body-row {
        .special-cell {
          .button {
            background-color: #74AFFF;
            color: #fff;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 4px 8px;
            border-radius: 5px;
          }
          .button:hover {
            background-color: #74AFFF;
            color: #fff;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 4px 8px;
            border-radius: 5px;
            border: 1px solid black;
          }
        }
      }
    }
  }
}
