.table-container {
  .table {
    .table-head {
      .head-row {
        .head-cell {
          font-weight: 600;
        }
      }
    }
    .table-body {
      .body-row:hover {
        background-color: #d2edef;
        cursor: pointer;
      }
      .body-row {
        .special-cell {
          .button {
            background-color: #9dd4d8;
            color: #333;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 4px 8px;
            border-radius: 5px;
          }
          .button:hover {
            background-color: #9dd4d8;
            color: #333;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 4px 8px;
            border-radius: 5px;
            border: 1px solid black;
          }
        }
      }
    }
  }
}
