.product-container {
  .table-header-container {
    background-color: #fff;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .table-header-item {
      width: 3%;
      .text {
        font-family: "OpenSans";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height, or 140% */

        color: #000;
      }
    }
    .table-header-item-mid {
      width: 8%;
      .text {
        font-family: "OpenSans";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height, or 140% */

        color: #000;
      }
    }
    .table-header-item-wide {
      width: 12%;
      .text {
        font-family: "OpenSans";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height, or 140% */

        color: #000;
      }
    }
  }
  .product-container-rows {
    .product-row {
      .product-row-container {
        background-color: #fff;
        padding: 3px;
        border-radius: 6px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .table-value-item {
          width: 3%;
          .text {
            font-family: "OpenSans";
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            /* identical to box height, or 140% */

            color: #7c7c7c;
          }
        }
        .table-value-item-mid {
          width: 8%;
          .text {
            font-family: "OpenSans";
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            /* identical to box height, or 140% */

            color: #7c7c7c;
          }
        }
        .table-value-item-wide {
          width: 12%;
          .text {
            font-family: "OpenSans";
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            /* identical to box height, or 140% */

            color: #7c7c7c;
          }
        }
      }
    }
  }
}
