.dashboard-view {
  width: 90%;
  margin: auto;
  margin-top: 64px;

  .dashboard-header {
    margin: 15px 10px;
    .title {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 14px;
      /* identical to box height, or 58% */

      color: #000000;
    }
  }
  .numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 10px 40px 10px;
    .protocol-stats {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .stat-box {
        width: 15rem;
        margin-right: 5rem;
      }
    }
    .personal-stats {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .stat-box {
        width: 15rem;
        margin-left: 5rem;
      }
    }
  }
}
