.security-view {
  padding: 30px;
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;

    .title {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 14px;
      /* identical to box height, or 58% */

      color: #000000;
      margin: 10px 0px;
    }
    .subtitle {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 14px;
      /* identical to box height, or 58% */

      color: rgba(0, 0, 0, 0.5);
    }
  }
  .content-container {
    margin-top: 25px;
    .content-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .action-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .action {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .order-type {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 14px;
            color: #000000;
            margin-right: 14px;
          }
          .form {
            .select {
              .menu {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 14px;
                color: #65ae1c;
              }
            }
          }
        }
        .action-amount {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-left: 25px;
          .amount {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 14px;
            color: #000000;
            margin-right: 14px;
          }
        }
      }
      .balance-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .balance {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          .amount {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 14px;
            color: #949494;
            margin-right: 15px;
          }
        }
      }
    }
    .factsheet-container {
      margin-top: 4.55rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .factsheet {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 14px;
        /* identical to box height, or 58% */

        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 2rem;
      }
    }
    .assetlist-container {
      margin-top: 4.55rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .assetlist {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 14px;
        /* identical to box height, or 58% */

        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 2rem;
      }
    }
  }
}
