#nft-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        background-color: rgba(26, 26, 26, 0.8);
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: rgba(0, 0, 0, 0.2);
    }

    .ohm-popover {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        max-width: 754px;
        max-height: 94vh;
        width: 94%;
        padding: 40px;
        border-radius: 15px;
        position: relative;
    
        .cancel-setting {
          position: absolute;
          cursor: pointer;
          right: -16px;
          top: -16px;
          width: 32px;
          height: 32px;
          border-radius: 99px;
          background: #2C8B2F;
          background-image: url('../../assets/icons/x.svg');
          background-repeat: no-repeat;
          background-position: center;
        }
    
        h3 {
          align-self: center;
          justify-self: center;
          width: 75%;
          text-align: center;
        }
        label {
          margin: 36px 0 8px 0;
        }
        .help-text {
          margin: 10px;
        }
    }
    .mobile .ohm-popover {
        max-width: 400px;
    }
    
    .nft-modal__header {
        margin-bottom: 24px;
    }

    .nft-modal__title{
        font-family: Inter;
        font-weight: 600;
        font-size: 22px;
        color: #222222;
        text-align: left;
    }

    .nft-modal__sub-title {
        font-family: Inter;
        font-weight: 400;
        font-size: 13px;
        color: #222222;
        text-align: left;
        margin-top: 4px;
    }

    .card-content {
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 5px;

        &::-webkit-scrollbar {
            width: 5px;               /* width of the entire scrollbar */
        }
        &::-webkit-scrollbar-track {
            background: #CCC;
            width:0px;        /* color of the tracking area */
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 20px;
        }

        .no-nft-balance {
            text-align: center;
            padding: 20px 0;
        }
    }
}

.nft-item {
    background-color: #F7F7F7;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;

    img {
        border-radius: 4px 4px 0 0;
        width: 100%;
    }

    .nft-item__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0;

        font-size: 12px;

        &__name {
            font-weight: 700;
        }
    }
}