.table-container {
  .table {
    .table-head {
      .head-row {
        .head-cell {
          font-weight: 600;
        }
      }
    }
    .table-body {
      .body-row:hover {
        background-color: #d2edef;
        cursor: pointer;
      }
    }
  }
}

.action-btn {
  border: none;
  background-color: #1ca3ae;
  border-radius: 45px;
  color: #fff;
  padding: 10px 25px;
  cursor: pointer;
  &.cancel {
    background-color: #fff;
    border: 1px solid #1ca3ae;
    color: #1ca3ae;
  }
}
