.mint-view {
    width: 89%;
    max-width: 833px;
    margin: auto;

    .mint-card {
        position: relative;
        z-index: 2;
        background: #fff;
        border: 1px solid #e9e9e9;
        border-radius: 0;
        padding: 20px;
        width: 100%;

        .mint-card-grid {
            margin: 0;
            width: 100%;
        }

        .mint-card-header {
            display: flex;
            align-items: center;
            justify-content: center;
            .mint-card-header-title {
                text-align: center;
                font-family: Inter;
                font-weight: bold;
                font-size: 20px;
                color: #222222;
                margin-bottom: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .mint-card-description {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #222222;
        }

        .mint-balances {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
            .mint-balances-area {
                @media screen and (min-width: 600px) {
                    width: 591px;
                    height: 103px;
                }

                text-align: center;
                background: rgba(190, 208, 191, 0.1);

                .mint-balances-area-heading {
                    margin-bottom: 10px;
                    .mint-balances-text {
                        @media screen and (min-width: 600px) {
                            font-size: 20px;
                            line-height: 27px;
                        }
                        margin-top: 14px;
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 20px;
                        text-align: center;
                        color: #888888;
                    }
                }

                .mint-balances-three-col {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mint-balances-text-logo {
                        height: 14px;
                    }

                    .mint-balances-text-symbol {
                        @media screen and (min-width: 600px) {
                            font-size: 20px;
                            line-height: 27px;
                        }
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 20px;
                        text-align: center;
                        color: #444444;
                    }

                    .mint-balances-text-balance {
                        @media screen and (min-width: 600px) {
                            font-size: 20px;
                            line-height: 27px;
                        }
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 20px;
                        text-align: center;
                        color: #444444;
                    }
                }
            }
        }

        .mint-card-action-area {
            width: 100%;
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .mint-card-action-stage-btns-wrap {
                display: flex;
                align-items: center;
                justify-content: center;

                .mint-card-action-stage-btn {
                    margin: 0px 30px;
                    padding: 6px;
                    cursor: pointer;
                    transition: all 0.4s ease;
                    p {
                        font-family: Inter;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        color: #aaaaaa;
                    }
                }

                .mint-card-action-stage-btn.active {
                    p {
                        color: #2c8b2f;
                    }
                    border-bottom: 2px solid #2c8b2f;
                }
            }

            .mint-card-action-row {
                background: #f7f7f7;
                border: 2px solid #dddddd;
                width: 83%;

                .mint-card-action-input {
                    width: 100%;
                    background: #f7f7f7;
                    border: none;
                    border-radius: 10px;
                    outline: none;

                    .MuiOutlinedInput-input {
                        font-family: Inter;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        color: #888;
                        padding: 7px 15px;
                    }

                    .MuiOutlinedInput-notchedOutline {
                        border-color: rgba(255, 255, 255, 0.2) !important;
                    }

                    .mint-card-action-input-btn {
                        cursor: pointer;

                        p {
                            font-family: Inter;
                            font-weight: 500;
                            font-size: 16px;
                            color: #222;
                        }
                    }
                }
            }
            .mint-card-action-currency {
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f7f7f7;
                border: 2px solid #dddddd;
                box-sizing: border-box;
                margin-left: 5px;
                cursor: pointer;

                .mint-balances-text-logo-one {
                    @media screen and (min-width: 600px) {
                        margin-right: 5px;
                    }
                    height: 14px;
                }
                .mint-balances-dropdown-symbol {
                    @media screen and (min-width: 600px) {
                        font-size: 15px;
                        line-height: 20px;
                    }
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 15px;
                    text-align: center;
                    color: #444444;
                }
            }

            .mint-card-tab-panel {
                min-width: 114px;
                // margin-left: 10px;
                @media screen and (max-width: 600px) {
                    margin-top: 10px;
                }

                .mint-card-tab-panel-btn {
                    background: url("../../assets/images/bgnd-buttons.svg");
                    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
                    padding: 7px 24px;
                    cursor: pointer;
                    text-align: center;
                    margin-top: 8px;

                    p {
                        font-family: Inter;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        color: #ffffff;
                    }
                }
            }

            .mint-card-action-help-text {
                margin-top: 10px;
                width: 95%;
                p {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #888;
                }
            }

            .mint-card-action-info {
                margin-top: 25px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .mint-card-action-info-para {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #222222;

                    .stylized-amount {
                        color: #2c8b2f;
                    }
                }
            }
        }

        .mint-card-area {
            .mint-card-wallet-notification {
                text-align: center;

                .mint-card-wallet-connect-btn {
                    background: url("../../assets/images/bgnd-buttons.svg");
                    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
                    padding: 12px 19px;
                    cursor: pointer;
                    margin: auto;
                    max-width: 160px;
                    margin-top: 36px;
                }

                p {
                    font-family: Inter;
                    font-weight: 600;
                    font-size: 16px;
                    color: #ffffff;
                }
                .mint-card-wallet-desc-text {
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 14px;
                    color: #666666;
                    margin-top: 12px;
                    margin-bottom: 6px;
                }
            }
        }
    }

    .data-row {
        display: flex;
        justify-content: space-between;
        padding: 14px 0px;
        border-bottom: 1px dashed #ccc;

        &:last-of-type {
            border-bottom: none;
        }

        .data-row-name {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #222222;
        }
        .data-row-value {
            font-family: Inter;
            font-size: 14px;
            line-height: 17px;
            color: #222222;
        }
    }
}
