$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

.view-base-root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  //background-color: #E6F2FF;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  .drawer {
    z-index: 0;
    @media screen and (min-width: $md) {
      width: 280px;
      flex-shrink: 0;
    }
  }
  .content {
    height: 100%;
    overflow: auto;
    margin-left: 280px;
    @media screen and (max-width: 960px) {
      margin-left: 0;
    }
    margin-top: 70px;
  }
  .content-dash {
    height: 100%;
    overflow: auto;
    margin-top: 70px;
  }
  .sidebar {
    z-index: 0;
  }
}


.action-btn {
  border: none;
  background-color: #74AFFF;
  border-radius: 45px;
  color: #fff;
  padding: 10px 25px;
  cursor: pointer;
  &:disabled {
    background-color: #C3DDFF;
  }
  &.cancel {
    background-color: #fff;
    border: 1px solid #74AFFF;
    color: #74AFFF;
  }
  &.outlined {
    background-color: #FFF;
    border: 2px solid #74AFFF;
    color: #74Afff;
    font-weight: bolder;
    &:disabled {
      border-color: #C3DDFF;
      color: #C3DDFF;
    }
  }
}

.invest-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 496px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 20%) 0 11px 15px -7px, rgb(0 0 0 / 14%) 0 24px 38px 3px, rgb(0 0 0 / 12%) 0 9px 46px 8px;
  border: none;
  border-radius: 8px;
  padding: 50px 45px;
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;

  .header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    img.casten-logo {
      max-width: 166px;
      height: 85%;
    }
  }
  img.close {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .form-block {
    gap: 1rem;
    grid-template-columns: repeat(3,minmax(0,2fr));
    display: grid;
    margin-bottom: 3rem;
    .label {
      display: flex;
      align-items: center;
      font-weight: bolder;
    }
    .value-input {
      justify-content: center;
      flex-direction: column;
      grid-column-start: span 2;
      grid-column-end: span 2;
      .error {
        width: 100%;
      }
      .form-input {
        .input {
          padding: 6px 7px;
        }
        label {
          transform: translate(14px, 7px) scale(1);
          &.Mui-focused, &.MuiFormLabel-filled {
            transform: translate(14px, -9px) scale(1);
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .colorPrimary {
    background-color: #C4DDFF;
  }
  .barColorPrimary {
    background-color: #74AFFF;
  }

  .form-btns {
    gap: 1rem;
    grid-template-columns: repeat(1,minmax(0,1fr));
    display: grid;

    &.grid-2 {
      grid-template-columns: repeat(2,minmax(0,2fr));
    }

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    a, button {
      border: none;
      border-radius: 6px;
      padding: 10px;
      background: #74AFFF;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      &:disabled {
        background: #C4DDFF;
        color: #9f9f9f;
      }
      &:hover {
        opacity: 0.8;
      }
      &.cancel {
        background: #fff;
        border: 1px solid #74AFFF;
        color: #000;
      }
    }
  }
  .modal-footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    img.logo {
      height: 30px;
      margin-left: 5px;
    }
  }
}
