$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

.view-base-root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #E6F2FF;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  .drawer {
    z-index: 0;
    @media screen and (min-width: $md) {
      width: 280px;
      flex-shrink: 0;
    }
  }
  .content {
    height: "100%";
    overflow: "auto";
    margin-left: 280px;
    @media screen and (max-width: 960px) {
      margin-left: 0;
    }
    margin-top: 70px;
  }
  .content-dash {
    height: "100%";
    overflow: "auto";
    margin-top: 70px;
  }
  .sidebar {
    z-index: 0;
  }
}


.action-btn {
  border: none;
  background-color: #74AFFF;
  border-radius: 45px;
  color: #fff;
  padding: 10px 25px;
  cursor: pointer;
  &:disabled {
    background-color: #C3DDFF;
  }
  &.cancel {
    background-color: #fff;
    border: 1px solid #74AFFF;
    color: #74AFFF;
  }
  &.outlined {
    background-color: #FFF;
    border: 2px solid #74AFFF;
    color: #74Afff;
    font-weight: bolder;
    &:disabled {
      border-color: #C3DDFF;
      color: #C3DDFF;
    }
  }
}
