.biconomy-save-container {
    padding: 9px 20px;
    // margin: 16px 8px 16px 0px;
    // background: #FFF2F7;
    // border: 3px dotted #C00D5A;
    background: url("../../assets/images/total_saving.svg");
    width: 289px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    justify-content: space-between;

    .description-container{
        display: flex;
        color:#C00D5A;
        flex-direction: column;
    
        .title-container{
            display: flex;
            flex-direction: row;
            align-items: center;

            .title{
                font-weight: 600;
                font-size: 14px;
                margin: 0px 8px;
            }
        }

        .description{
            font-size: 11px;
            margin-top: 4px;
        }
    }

    .icon-container{
        margin-left: 16px;
    }
}
