

.tx-link {
  display: inline-flex;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-text-opacity: 1;
  color: rgb(68 64 60/var(--tw-text-opacity));
  font-weight: 500;
  font-size: .75rem;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244/var(--tw-bg-opacity));
  border-radius: 9999px;
  gap: 0.75rem;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  img {
    width: 1.25rem;
    height: 1.25rem;
    display: inline;
    margin-right: -.25rem;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    flex-shrink: 0;
  }
}
.table-container {
  .table {
    .table-head {
      .head-row {
        .head-cell {
          font-weight: 600;
        }
      }
    }
    .table-body {
      .body-row {
        .invest-button {
          .invest {
            border: none;
            background-color: #1ca3ae;
            border-radius: 45px;
            color: #fff;
            padding: 10px 25px;
          }
        }
      }
      .body-row:hover {
        background-color: #d2edef;
        cursor: pointer;
        .invest-button {
          .invest {
            border: none;
            background-color: #1ca3ae;
            border-radius: 45px;
            color: #fff;
            padding: 10px 25px;
          }
        }
      }
    }
  }
}
