

.tx-link {
  display: inline-flex;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-text-opacity: 1;
  color: rgb(68 64 60/var(--tw-text-opacity));
  font-weight: 500;
  font-size: .75rem;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244/var(--tw-bg-opacity));
  border-radius: 9999px;
  gap: 0.75rem;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  img {
    width: 1.25rem;
    height: 1.25rem;
    display: inline;
    margin-right: -.25rem;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    flex-shrink: 0;
  }
}
.table-container {
  .table {
    .table-head {
      .head-row {
        .head-cell {
          font-weight: 600;
        }
      }
    }
    .table-body {
      .body-row {
        .invest-button {
          .invest {
            border: none;
            background-color: #1ca3ae;
            border-radius: 45px;
            color: #fff;
            padding: 10px 25px;
          }
        }
      }
      .body-row:hover {
        background-color: #d2edef;
        cursor: pointer;
        .invest-button {
          .invest {
            border: none;
            background-color: #1ca3ae;
            border-radius: 45px;
            color: #fff;
            padding: 10px 25px;
          }
        }
      }
    }
  }
}

.invest-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 496px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 20%) 0 11px 15px -7px, rgb(0 0 0 / 14%) 0 24px 38px 3px, rgb(0 0 0 / 12%) 0 9px 46px 8px;
  border: none;
  border-radius: 8px;
  padding: 50px 45px;
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  .header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    img.casten-logo {
      max-width: 166px;
      width: 85%;
    }
  }

  .form-block {
    gap: 1rem;
    grid-template-columns: repeat(3,minmax(0,2fr));
    display: grid;
    margin-bottom: 3rem;
    .label {
      display: flex;
      align-items: center;
      font-weight: bolder;
    }
    .value-input {
      justify-content: center;
      flex-direction: column;
      grid-column-start: span 2;
      grid-column-end: span 2;
      .error {
        width: 100%;
      }
      .form-input {
        .input {
          padding: 6px 7px;
        }
        label {
          transform: translate(14px, 7px) scale(1);
          &.Mui-focused, &.MuiFormLabel-filled {
            transform: translate(14px, -9px) scale(1);
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .colorPrimary {
    background-color: #AEECF1B8;
  }
  .barColorPrimary {
    background-color: #1CA3AEB8;
  }

  .form-btns {
    gap: 1rem;
    grid-template-columns: repeat(1,minmax(0,1fr));
    display: grid;

    &.grid-2 {
      grid-template-columns: repeat(2,minmax(0,2fr));
    }

    button {
      border: none;
      border-radius: 6px;
      padding: 10px;
      background: #1CA3AEB8;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      &:disabled {
        background: #AEECF1B8;
        color: #9f9f9f;
      }
      &:hover {
        opacity: 0.8;
      }
      &.cancel {
        background: #fff;
        border: 1px solid #1CA3AEB8;
        color: #000;
      }
    }
  }
}
