.portfolio-view {
  padding: 30px;
  .header-container {
    .title {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 14px;
    }
  }
  .content-container {
    margin-top: 30px;
    .balance-container {
      .balance {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
      .usdc-balance {
        margin-top: 15px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 14px;
      }
    }
    .portfoliolist-container {
      margin-top: 40px;
    }
  }
}
